################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/Project.Application/Project.Application/bin/Debug/netcoreapp3.1
/src/Project.Application/Project.Application/obj
/src/Project.Data/Project.Data/bin/Debug/netcoreapp3.1
/src/Project.Data/Project.Data/obj
/src/Project.Model/Project.Model/bin/Debug/netcoreapp3.1
/src/Project.Model/Project.Model/obj
/src/Project.Test/Project.Test/bin/Debug/netcoreapp3.1
/src/Project.Test/Project.Test/obj/Debug/netcoreapp3.1
/src/Project.Test/Project.Test/obj
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Service.deps.json
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Model.pdb
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Model.dll
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Data.pdb
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Data.dll
src/Project.Service/bin/Debug/netcoreapp3.1/Microsoft.Azure.Cosmos.ServiceInterop.dll
src/Project.Service/bin/Debug/netcoreapp3.1/Cosmos.CRTCompat.dll
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.pdb
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.dll
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.csprojAssemblyReference.cache
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.csproj.FileListAbsolute.txt
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.csproj.CopyComplete
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.assets.cache
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.AssemblyInfoInputs.cache
src/Project.CrossCutting/obj/Debug/netcoreapp3.1/Project.CrossCutting.AssemblyInfo.cs
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Project.Model.pdb
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Project.Model.dll
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Project.CrossCutting.pdb
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Project.CrossCutting.dll
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Project.CrossCutting.deps.json
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Microsoft.Azure.Cosmos.ServiceInterop.dll
src/Project.CrossCutting/bin/Debug/netcoreapp3.1/Cosmos.CRTCompat.dll
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Service.dll
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Service.pdb
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Service.runtimeconfig.dev.json
src/Project.Service/bin/Debug/netcoreapp3.1/Project.Service.runtimeconfig.json
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.AssemblyInfo.cs
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.AssemblyInfoInputs.cache
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.assets.cache
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.csproj.CopyComplete
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.csproj.FileListAbsolute.txt
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.csprojAssemblyReference.cache
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.dll
src/Project.Service/obj/Debug/netcoreapp3.1/Project.Service.pdb
